@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Navigation Bar */

@layer components {
    .navbar-container {
        @apply flex flex-row rounded-full gap-4;
    }

    .navbar-link {
        @apply flex flex-row justify-center items-center gap-2 drop-shadow-md bg-wgg-black-950 text-wgg-white py-3 px-6 font-normal rounded-lg transition-all ease-in-out cursor-pointer hover:bg-wgg-black-600 hover:-translate-y-0.5;
    }

    .navbar-icon {
        @apply w-5 h-5;
    }
}